h1
{
    background:#cdcdcd;
    padding: 15px 0px;
    text-align: center;
}

.container
{
    width: 1000px;
    margin: 10px auto;
    margin: 0 auto;
}
section.about-me,section.about-bhanu
{
    border: 2px solid rgb(12, 10, 10);
    padding: 10px;
}
.about-me
{
    margin-bottom: 40px;
}
section h3{
    text-transform: uppercase;
}