/* input[type = "text"]
{
    color: red;
    background-color: aqua;
} */
input[type ^='t']
{
    color: forestgreen;
}
input[type = "password"]{
    background-color: burlywood;
}
/* a[href *="Google"]
{
    color: red;
} */
/* a[href ^="https"] ^ for starting symbol , $ for ending and * for all
{
    color: green;
} */
a[href $=".com"] 
{
    color:crimson ;
}